@{
    ViewData["Title"] = "Mata Kuliah";
}

<div>
    @foreach (var matkuls in ViewBag.matakuliahlist)
    {
    <div>
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@matkuls.MatKulID">
            <div>@matkuls.NamaMatkul</div>
            <div>@matkuls.Pengampu</div>
            <br />
        </a>
    </div>
    }
</div>
